.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App{
  background-color: #379a38;
  background-color: #369737;
  background-image: url(./assets/Image005.jpg);
  background-position: center;
  min-height: 100vh;
}
.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.menuBar{
  background: rgb(40,44,52);
  /* width: 100%; */
  height: 27px;
  padding: 10px;
}
.menu_container{
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bgRed{
  border-radius: 5px;
}
.notransition * { 
  -webkit-transition: none !important; 
  -moz-transition: none !important; 
  -o-transition: none !important; 
  -ms-transition: none !important; 
  transition: none !important; 
} 

.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.container{
  width: 500px;
  height: 220px;
  color: #ffffff;
}
.button_container{
  display: grid;
  justify-items: center;
  padding-top: 50px;
}

.button_container a:hover, 
.button_container a:focus,
  a.current_style {
  /* background-color: #204b56 !important; */
  background: #005402 !important;
  /* box-shadow: 0px 0px 12px 1px #013102; */
  /* box-shadow: 2px 25px 7px -21px #013102; */
  box-shadow:2px 25px 9px -20px #013102 !important;
  /* border: solid 2px #115813 !important; */
  border: dotted 3px #166318 !important;;
}

.button_container a{
  /* width:  9em;
  border: solid 2px #1c881f;;
  padding: 3px;
  margin: 10px;
  cursor: pointer;
  border-radius: 40px;
  height: 30px;
  padding-top: 10px;
  background-color: #1b8c1d;;
  color: #ceff7a;
  box-shadow:2px 25px 9px -20px #013102; */
  -webkit-tap-highlight-color: transparent;
  width: 9em;
  border: dotted 3px #3e9e3c;
  padding: 3px;
  margin: 10px;
  cursor: pointer;
  border-radius: 40px;
  height: 28px;
  padding-top: 10px;
  background-color: #1b8c1d;
  color: #ceff7a;
  box-shadow: 0px 17px 12px -21px #013102;

  border: dotted 3px #21981f;
  background: radial-gradient(circle, rgb(63 173 63) 7%, rgb(52 147 53) 112%);
  /* font-family: cursive; */
}
/* 
.button_container{
  display: grid;
  justify-items: center;
  width: 300px;
  margin: 0px auto;
  background-color: chocolate;
  border-radius: 0 0 150px 150px;
  height: 150px;
}
.button_container a{
  width: 80px;
  padding: 3px;
  margin: 10px;
  cursor: pointer;
}
.button_container a:hover, 
.button_container a:focus {
  background-color: #204b56;
}

.button_container a:nth-child(1){
  grid-column: 1;
}
.button_container a:nth-child(2){
  grid-column: 2;
}
.button_container a:nth-child(3){
  grid-column: 3;
} */

